.footer {
  background-color: #aa9d9d;
  width: 100%;
  height: 15 0px;
  padding: 20px;
  font-family: 'Fredoka', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "contacto redesfooter copy" "contacto redesfooter copy"; }
  .footer .contacto {
    margin-bottom: 10px;
    padding: 5px;
    grid-area: contacto; }
  .footer .redesfooter {
    margin-bottom: 10px;
    padding: 5px;
    grid-area: redesfooter; }
  .footer .copy {
    grid-area: copy; }
  .footer .redesfooter h3 {
    margin-bottom: 10px; }
  .footer .contacto h3 {
    margin-bottom: 10px; }
  .footer .footer a {
    color: #fdfdfc;
    padding: 3px; }
  .footer .footer p {
    color: #fdfdfc;
    padding: 5px; }
  .footer .footer h3 {
    color: #fdfdfc;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400; }
  .footer .redesfooter img {
    height: 30px;
    width: 30px; }
  .footer .copy p {
    color: #fdfdfc; }
  .footer .pfooter {
    background-color: #ffdd0f;
    color: black;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    font-weight: 300; }
  .footer .pfooter a {
    color: black;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    font-weight: 700; }
