.footer {
  background-color: #aa9d9d;
  width: 100%;
  height: 155px;
  padding: 20px;
  color: $color-footer;
  font-family: "Fredoka", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas:
    "contacto redesfooter copy"
    "contacto redesfooter copy";
}

.contacto {
  margin-bottom: 10px;
  padding: 5px;
  grid-area: contacto;
}

.p {
  padding: 5px;
}

.h3 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}

.copy {
  grid-area: copy;

  a {
    color: $color-footer;
    font-weight: 600;
  }
}

.redesfooter {
  margin-bottom: 10px;
  padding: 5px;
  grid-area: redesfooter;

  h3 {
    margin-bottom: 10px;
  }

  a {
    padding: 3px;
  }

  img {
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    height: 350px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "contacto"
      "redesfooter"
      "copy";
    justify-content: center;
  }

  .contacto {
    width: 100%;
    grid-area: contacto;
    text-align: center;
    align-self: center;
  }

  .redesfooter {
    width: 100%;
    grid-area: redesfooter;
    text-align: center;
    align-self: center;
  }

  .copy {
    width: 100%;
    grid-area: copy;
    text-align: center;
    align-self: center;
  }

  .redesfooter h3 {
    width: 100%;
    margin-bottom: 10px;
  }

  .contacto h3 {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer a {
    width: 100%;
    color: #fdfdfc;
    padding: 3px;
  }

  .footer p {
    width: 100%;
    color: #fdfdfc;
    padding: 5px;
  }

  .footer h3 {
    width: 100%;
    color: #fdfdfc;
    font-family: "Fredoka", sans-serif;
    font-size: 35px;
  }

  .redesfooter img {
    height: 30px;
    width: 30px;
  }
}
