.form {
    background-color: #fdfdfc;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #4b4848;

    .label {
        padding: 15px;
       
    }


}

.textoform input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.enviar {
    margin-top: 15px;
    margin-left: 165px;
    margin-bottom: 25px;
}

.newsletter {
    margin-left: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.radio {
    margin-left: 55px; 
   
}

.int {
    margin-top: 15px;
    margin-bottom: 15px;
}

.aceptar {
    margin-top: 15px;
    margin-bottom: 15px;
}

