
.col-xl-4 img {
    
    height: 65vh;
    width: 65vh;
    object-fit: cover;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
 
  
}

.recetash {
    background-color: #ffdf0f73;
    color: #4b4848;
    font-family: 'Fredoka', sans-serif;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}