.topheader {

    width: 100%;
    background-color: #ffdd0f;
    overflow: hidden;
    margin-bottom: 20px;


    .topheader img {
        height: 40px;
        width: 40px;
        line-height: 30px;
        float: left;
        padding: 5px;
    }
}

.topnav {
    float: right;
    line-height: 30px;

    .topnav a {
        font-size: 15px;
        font-weight: 700px;
    
    
        display: inline-block;
        text-decoration: none;
        padding: 5px 5px;
    }
}

.middleheader {

    height: 150px;

    .middleheader img {
        height: 140px;
        width: 140px;
    }
    
}
